@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$header-font: 'Raleway', sans-serif;
$button-font: 'Oswald', sans-serif;
$font-size: 16px;
$half-font-size: $font-size / 2;
$left-tile-margin: 45%;
$max-width-of-logo-text: 800px;
$primary-color: #032035;
$secondary-color: #033a61;
$lighter-color: #246a92;
$bright-color: #F9F4F3;
$header-text-boost: 200%;
$text-margin: 3%;
$bottom-border-nav-link: 4px;

html, body, .app {
  font-size: $font-size;
  width: 100%;
  height: 100%;
  padding : 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

#sky {
  background: url("../img/night-sky.png") 100% 100% repeat;

}

#back {
  //display: none;
  //position: absolute;
  background: black;
  width : 100%;
  height : 100%;
  z-index: 100;
  padding : 4em;
}

#back p {
  margin: 2em;
}

#ground {
  background: url("../img/ground.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
}
.crop {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.crop img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: grayscale(100%) contrast(150%);
}

.tile {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  background-size: cover;
}

.tile .inner {
  display: block;
  margin-top: 90px;
  width: 100%;
  max-width: none;
}

.tile {
  position: absolute;
}

.content {
  max-width: $max-width-of-logo-text;
  margin: 0 $left-tile-margin 0 auto;
  text-align: center;
  font-size: $header-text-boost;

  h1 {
    display: block;
    margin-top: 0px;
    font-family: $header-font;
    color: $bright-color;
    z-index: 4;
  }
}

p {
  font-size: 130%;
  line-height: 130%;
  text-align: justify;
}

@media screen and (max-width: 768px) {

  //.visible {
  //  display : none;
  //}

  .content h1 {
    font-size: 100%;
    color: black;
    z-index: 2;
  }
}

#nav-bar {
  width: 100%;
  opacity: 1;

}

.navbar-brand {
  font-size: 30px;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 100px;
  li {
    margin-right: 50px;
  }
}

.navbar-nav .nav-item .nav-link {
  font-size: larger;
  font-weight: 400;
  color: black;
}

.active {
  border-bottom: $bottom-border-nav-link solid #f04;
}

section {
  background: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  color-stop(0%, #252627),
                  color-stop(100%, #252627));
  //padding: 5% 6%;
  color: #ebebeb;
  font-family: Nunito;
}

#section1 {
  display : none;

  img {
    width: 200px;
    border-radius: 9999px;
    position: relative;
    z-index: 2;
  }

}

.avatar img {
  width: 200px;
  border-radius: 9999px;
  position: relative;
  z-index: 2;
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar {
  height: 200px;
  position: relative;
  width: 200px;
}

.avatar::before,
.avatar::after {
  animation: pulse 2s linear infinite;
  border: #fff solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}
.visible {
  background : green;
}
.main-section div {
  height: 100vh;
  width: 100vw;
  background: url("../img/my_sky.png");
}

/* --------------------------------

Main Components

-------------------------------- */

.cd-section {
  height: 100vh;
}
.cd-section h2 {
  line-height: 100vh;
  text-align: center;
  font-size: 2.4rem;
}
.cd-section:first-of-type > div {
  //background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2)  {
  height: 100vh;
}
.cd-section:nth-of-type(2) > div {
  height: 100vh;
}

@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }

}

@media only screen and (min-width: 1050px) {

}
@media only screen and (min-width: 1050px) {

  .cd-section:first-of-type > div::before {
    display: none;
  }

  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.main-section {
  //height: 200vh;
  background: url("../img/night-sky.png") 100% 100% repeat;
  z-index: -2;
}

.main-section div {
  z-index: 2;
  background: url("../img/ground.png") 100% 100% no-repeat;
  //background-size: cover;
  background-position: center;
}

.visible {
  background: url("../img/night-sky.png") 100% 100% repeat;
}
.visible > div {
  background: url("../img/sun.png") 100% 100% no-repeat;
}

.last-section > div {
  background: red;
  z-index: 3;
  height: 100vh;
}