@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  overflow: hidden;
}

.st-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container > input,
.st-container > a {
  position: fixed;
  bottom: 0px;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.st-container > input {
  opacity: 0;
  z-index: 1000;
}

.st-container > a {
  z-index: 10;
  font-weight: 700;
  background: #171717;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}

.st-container:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 34px;
  background: #171717;
  z-index: 9;
  bottom: 0;
}

#st-control-1, #st-control-1 + a {
  left: 0;
  width: 20%;
}

#st-control-2, #st-control-2 + a {
  width: 20%;
  left: 20%;
}

#st-control-3, #st-control-3 + a {
  width: 20%;
  left: 40%;
}

#st-control-4, #st-control-4 + a {
  width: 20%;
  left: 60%;
}

#st-control-5, #st-control-5 + a {
  width: 20%;
  left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a {
  background: #ff2e49;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ff2e49;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.st-container > input:hover + a {
  background: #ff2e49;
}

.st-container > input:hover + a:after {
  border-bottom-color: #ff2e49;
}

.st-scroll,
.st-panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.st-scroll {
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.st-panel {
  background: #363431;
  overflow: hidden;
}

#st-control-1:checked ~ .st-scroll {
  transform: translateY(0%);
}

#st-control-2:checked ~ .st-scroll {
  transform: translateY(-100%);
}

#st-control-3:checked ~ .st-scroll {
  transform: translateY(-200%);
}

#st-control-4:checked ~ .st-scroll {
  transform: translateY(-300%);
}

#st-control-5:checked ~ .st-scroll {
  transform: translateY(-400%);
}

.st-deco {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -100px;
  background: #fa96b5;
  transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
  content: attr(data-icon);
  font-family: 'RaphaelIcons';
  color: #fff;
  text-shadow: 1px 1px 1px rgba(225, 85, 42, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 90px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  transform: rotate(-45deg) translateY(25%);
}

.st-panel {

  h1, h2, h3 {
    color: #ff2e49;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
    position: absolute;
    font-weight: 800;
    font-family: Oxygen;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 50px;
    margin: -70px 0 0 0;
    padding: 0;
    top: 50%;
    -webkit-backface-visibility: hidden;
  }
  h2, h3 {
    font-size: 44px;
  }
  h1 {
    font-size: 64px;
  }

}

#st-panel-1 img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-3:checked ~ .st-scroll #st-panel-4 h2,
#st-control-3:checked ~ .st-scroll #st-panel-5 h2 {
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.st-panel {
  i {
    font-size: 58px;
    color: #ff2e49;

  }
  p {
    position: absolute;
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
    color: #8b8b8b;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
  }
  li {
    list-style-type: none;
    text-align: left;
    margin-left: 38%;
    font-size: 16px;
    color: #8b8b8b;
    -webkit-backface-visibility: hidden;
    span {
      margin-left: 5px;
      font-size: 26px;
      //line-height: 32px;
      vertical-align: middle;
      text-align: center;
      color: #ff2e49;
    }
  }
  ul {
    position: absolute;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;

  }
}

#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-3:checked ~ .st-scroll #st-panel-4 p,
#st-control-3:checked ~ .st-scroll #st-panel-5 p {
  animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

#st-control-3:checked ~ .st-scroll #st-panel-3 .wrap-content {
  animation: moveLeft 0.6s ease-in-out 0.2s backwards;
}

#st-control-3:checked ~ .st-scroll #st-panel-3 .wrap-span .firt-part-h2 {
  animation: moveLeftH2 1.2s ease-in-out 1.2s backwards;
}

#st-control-3:checked ~ .st-scroll #st-panel-3 .wrap-span .last-part-h2 {
  animation: moveRightH2 1.2s ease-in-out 1.2s backwards;
}

@keyframes moveLeftH2 {
  0% {
    transform: translate(12vw, 4vh);
  }
  50% {
    transform: translate(0px, 4vh);
    animation-delay: 0.2s;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes moveRightH2 {
  0% {
    transform: translate(-12vw, -4vh);
  }
  50% {
    transform: translate(0px, -4vh);
    animation-delay: 0.2s;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.st-color,
.st-deco {
  background: #ff2e49;
}

.st-color [data-icon]:after {
  color: #ff2e49;
}

.st-color .st-deco {
  background: #363431;
}

.st-color {
  h2, h3 {
    color: #363431;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  li {
    font-weight: 300;
    color: #363431;
    list-style-type: none;
    text-align: center;
    width: 80%;
    margin: 0;
    padding: 0;
  }
  ul {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 18%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.st-color p {
  color: rgba(54, 52, 49, 0.8);
}

#st-panel-2 {

  background: url("../img/laptop.jpg") 100% 100% no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    top: 33%;
    color: white;
  }
  h3 {
    top: 50%
  }
  p {
    font-size: calc(1.7em + 1vw);
    line-height: calc(1.5em + 1vw);
    top: 35vh;
    width: 70vw;
    left: 15vw;
    color: white;
  }
}

#st-panel-3 {
  background: url("../img/web.jpg") 100% 100% no-repeat;
  background-position: center;
  background-size: cover;

  p {
    //background: -webkit-linear-gradient(left, #FF5151, #000, #000, #000);
    //background: linear-gradient(left, #FF5151, #000, #000, #000);
    color: #171717;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    line-height: 3vw;
    font-size: 3vw;
    width: 100%;
    left: 4%;
    top: 45%;
  }

  h2 {
    color: #ff2e49;
  }

  .wrap-content {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5151+0,ff5151+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(to right, rgba(202, 0, 26, 0.7) 0%, rgba(255, 0, 33, 0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to right, rgba(202, 0, 26, 0.7) 0%, rgba(255, 0, 33, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(202, 0, 26, 0.7) 0%, rgba(255, 0, 33, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ff5151', endColorstr='#80ff5151', GradientType=1); /* IE6-9 */
  }

  .wrap-h2 {
    //padding: 100px;
    width: 25vw;
    height: 20vh;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    .wrap-span {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 50%;
      text-align: center;
      white-space: nowrap;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
      }

      &:last-child {
        right: 0;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        font-size: 6vw;
      }
      &:first-child {
        text-align: right;
        color: #ff2e49;

      }
      &:last-child {
        text-align: left;
        color: #242424;
      }
    }
  }

  .left-side-h2 {
    left: -64px;
    color: #242424;
  }

}

#st-panel-4 {
  background: url("../img/travel.jpg") 100% 100% no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    top: 33%;
  }
  p {
    font-size: calc(1.7em + 1vw);
    line-height: calc(1.5em + 1vw);
    top: 35vh;
    width: 70vw;
    left: 15vw;
    color: white;
  }
}

#st-panel-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    font-size: calc(1.7em + 1vw);
    line-height: calc(1.5em + 1vw);
    top: 35vh;
    width: 80vw;
    left: 10vw;
  }
  h2 {
    top: 35%;
  }

  .fa {
    font-size: calc(1.7em + 1vw);
    line-height: calc(1.5em + 1vw);
    color: #ff2e49;
  }
}

@media screen and (max-width: 520px) {
  .st-panel h2 {
    font-size: 42px;
  }

  .st-panel p {
    width: 90%;
    left: 5%;
    margin-top: 0;
  }

  .st-container > a {
    font-size: 13px;
  }

  #st-panel-5 p {
    font-size: calc(1.0em + 1vw);
    line-height: calc(1.0em + 1vw);
  }
}

@media screen and (max-width: 360px) {
  .st-container > a {
    font-size: 10px;
  }

  .st-deco {
    width: 120px;
    height: 120px;
    margin-left: -60px;
  }

  [data-icon]:after {
    font-size: 60px;
    transform: rotate(-45deg) translateY(15%);
  }
}
