@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$header-font: 'Raleway', sans-serif;
$button-font: 'Oswald', sans-serif;
$font-size: 16px;
$half-font-size: $font-size / 2;
$left-tile-margin: 45%;
$max-width-of-logo-text: 800px;
$primary-color: #032035;
$secondary-color: #033a61;
$lighter-color: #246a92;
$bright-color: #F9F4F3;
$header-text-boost: 200%;
$text-margin: 3%;
$bottom-border-nav-link : 4px;

html, body, .app {
  height: 100%;
  font-size: $font-size;
  background: url("../img/background.jpg") no-repeat fixed;
}

.tile {
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  top: 0;
  //background: url("../img/logo.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.tile .inner {
  display: block;
  margin-top: 90px;
  width: 100%;
  max-width: none;
}

.content {
  max-width: $max-width-of-logo-text;
  margin: 0 $left-tile-margin 0 auto;
  text-align: center;
  font-size: $header-text-boost;
}

.content h1 {
  margin-top: 0px;
  font-family: $header-font;
  color: $bright-color;
  text-shadow: 0 0 300px #000;
}

p {
  font-size: 130%;
  line-height: 130%;
  text-align: justify;
  //margin: $text-margin;
}

@media screen and (max-width: 768px) {

  .content h1 {
    font-size: 100%;
  }
}

#nav-bar {
  position: fixed;
  width : 100%;
  opacity: 1;

}

.navbar-brand {
  font-size: 30px;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 100px;

  li {
    margin-right: 50px;
  }


}

.navbar-nav .nav-item .nav-link {
  font-size : larger;
  font-weight: 400;
  color: black;


}

.active{
  border-bottom: $bottom-border-nav-link solid #f04;
}


section {
  background: ghostwhite;
}